* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: "Public Sans", sans-serif;
}

body {
  padding: 119px 1rem;
}

.container {
  width: 100%;
  max-width: 586px;
  margin: 0 auto;
}

.title {
  font-family: "Work Sans", sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  letter-spacing: -0.84px;
  color: #000000;
  margin-bottom: 2.5rem;
}

.input-text {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}


.form {
  display: flex;
  flex-direction: column;
}

.form__input-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.form__full-field {
  width: 100%;
}

.form__half-field {
  min-width: 200px;
  flex: 1 1 calc(50% - 0.5rem);
}

.form__gender-group {
  margin-bottom: 2.5rem;
}

.form__notify-group {
  margin-bottom: 24px;
}

.form__checkbox {
  margin-bottom: 56px;
}

.field__label {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.881rem;
  color: #8a8e94;
  display: inline-block;
  margin-bottom: 0.375rem;
}

.field__input {
  background-color: #f8f8f8;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 56px;
  padding: 0 1rem;
}

.field__input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.175rem;
  color: #7d8590;
}

.field__input:hover {
  background-color: #edf9f5;
}

.field__input:focus {
  outline: none;
  border: 1px solid #59d4ad;
  background-color: #f8f8f8;
}

.radio-group {
  display: block;
}

.radio-group__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.028rem;
  color: #8a8e94;
  display: inline-block;
  margin-bottom: 1rem;
}

.radio-group__row {
  display: flex;
  gap: 2.5rem;
}

.radio-group__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio {
  background-color: white;
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}

.radio__input {
  z-index: -1;
  position: absolute;
  left: 1px;
  top: 1px;
  outline: none;
}

.radio__dot {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  transition: border-color 0.2s ease;
}

.radio__dot::before,
.checkbox__button::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  left: -8px;
  right: -8px;
  bottom: -6px;
  border-radius: 4px;
  border: 1px solid #59d4ad;
  opacity: 0;
  visibility: hidden;
  transition-property: visibility opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.radio__dot::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #000000;
  border: none;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s ease;
}

.radio__input:checked + .radio__dot {
  border-color: black;
}

.radio__input:checked + .radio__dot::after {
  transform: scale(1);
}

.radio__input:focus-visible + .radio__dot::before {
  opacity: 1;
  visibility: visible;
}

.checkbox-group {
  max-width: max-content;
  padding-top: 24px;
  border-top: 1px solid #E0E0E0;
}

.checkbox {
  position: relative;
  gap: 9px;
  display: inline-flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  left: 1px;
  top: 1px;
  outline: none;
}

.checkbox__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  transition-property: border-color background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.checkbox__icon {
  fill: white;
  stroke: white;
  width: 11px;
  width: 11px;
  transform: scale(0);
  transition: transform 0.2s ease;
}

.checkbox__input:checked + .checkbox__button {
  border-color: black;
  background-color: black;
}

.checkbox__input:checked + .checkbox__button .checkbox__icon {
  transform: scale(1);
}

.checkbox__input:focus-visible + .checkbox__button::before {
  opacity: 1;
  visibility: visible;
}

.button {
  background-color: #59d4ad;
  border: 1px solid #59d4ad;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000;
  width: 100%;
  height: 60px;
  cursor: pointer;
  transition-property: border-color background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.button:hover {
  background-color: #48c09a;
  border-color: #48c09a;
  cursor: pointer;
}

.button:focus {
  border-color: black;
  background-color: #59d4ad;
}
